<html>
    <head>
        <title>Create Survey</title>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Application</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
    <!--<link rel="stylesheet" href="file:///F:/fontawesome-free-5.15.3-web/css/all.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <nav>
            <div class="logo"><span class="highlight">Survey </span>Application</div>
        </nav>
        <div class="wrapper">
        <div class="title">
            Login
        </div>	
		<form action="/check" method="POST">
			<div class="form">
			    <div class="input_field">
					<label for="">Mail-ID</label>
					<input type="text" name="mailid" id="mailid" value="" class="input" required>
				</div>
				<div class="input_field">
					<label for="">Password</label>
					<input type="text" name="pwd" id="pwd" value="" class="input" required>
				</div>
				<a href="/signup" class="h8 text-warning text-decoration-none">New user? Create new account</a>
				<div class="input_field">
					<input type="submit" value="submit" class="button">
				</div>
			</div>
		</form>
        </div>
        <br><br><br><br><br><br><br><br>
        <footer>
        <div class="footer">
            <div class="inner-footer">
                <div class="footer-items"> 
                    <h1 class="about">About Us</h1>
                </div>
                
                <div class="footer-items"> 
                    <h1 class="about">Quick Links</h1>
                    <div class="borde"></div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/attend">Attend Survey</a></li>
                    </ul>
                </div>
                </div>
                
                <div class="footer-items"> 
                    <h2>Contact Us</h2>
                    <div class="borde"></div>
                </div>

            </div>
            <div class="footer-bottom">
                Copyright &copy; Survey Application 2021.All rights reserved.
            </div>
        </div>
    </footer>
    </body>
</html>